.small {
  padding: 10px;
  height: 30px;
  font-size: 0.9rem;
  margin: auto;
  border: 0px solid;
  border-radius: 2px;
}

.medium {
  padding: 7px 10px;
  height: 40px;
  font-size: 1rem;
  font-weight: 500;
  border: 2px solid;
  border-radius: 2px;
}

.large {
  padding: 8px;
  height: 45px;
  font-size: 1.2rem;
  font-weight: 400;
  margin: auto;
  border: 0px solid;
}

.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
